# Introduction

As an anime lover, I often come across the issue of not knowing what show to binge next. This anime recommendation system, by no means, is my original idea. There are various systems available out there for us anime lovers to utilize, the most popular one being on myanimelist.net . 

The ultimate goal of this project is to build a **better** recommendation system in a fun and educational way using open source resources. Specifically, two datasets that were scraped thanks to myanimelist.net API. 

## Data Sets

Using the free API, I was able to extract two revelant data sets: **anime** and **ratings**.

### Anime Set

This dataset contains **12,294 records** under **7 attributes**:

|Column Name|Description                        |
|-----------|-----------------------------------|
|anime_id   |the unique id identifying the anime|
|name       |the full name of the anime         |
|genre      |list of genres for this anime      |
|type       |type of anime, ex. movie, TV, etc. |
|episodes   |number of episodes in this show (1 if movie)|
|rating     |the average rating out of 10 for this anime (-1 if rating is not assigned)|
|members    |number of members that are in the anime's group|

### Rating Set

This dataset contains **7,813,737 records** under **3 attributes:**

|Column Name|Description                        |
|-----------|-----------------------------------|
|user_id    |randomly generated user id|
|anime_id   |the full name of the anime that the user has rated|
|rating     |the average rating out of 10 for this anime (-1 if rating is not assigned)|

# Libraries

In [1]:
import os  # paths to file
import numpy as np  # linear algebra
import pandas as pd  # data processing
import warnings  # warning filter
import scipy as sp  # pivot egineering

# ML model
from sklearn.metrics.pairwise import cosine_similarity

#default theme and settings
pd.options.display.max_columns

#warning hadle
warnings.filterwarnings("always")
warnings.filterwarnings("ignore")

# Preprocessing / Data Analysis

In [2]:
# list all files under the input directory
for dirname, _, filenames in os.walk('data'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

data\anime.csv
data\rating.csv

In [3]:
rating_path = "data/rating.csv"
anime_path = 'data/anime.csv'

#### Viewing the top few lines of the data

In [4]:
anime_df = pd.read_csv(anime_path)
anime_df.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [5]:
rating_df = pd.read_csv(rating_path)
rating_df.head()

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1

#### DataFrame information

In [7]:
print(f"Anime set (row, col): {anime_df.shape}\n\nRating set (row, col): {rating_df.shape}")

Anime set (row, col): (12294, 7)

Rating set (row, col): (7813737, 3)

In [8]:
print("Anime:\n")
print(anime_df.info())
print("\n","*"*50,"\nRating:\n")
print(rating_df.info())

Anime:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12294 entries, 0 to 12293
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  12294 non-null  int64
 1   name      12294 non-null  object
 2   genre     12232 non-null  object
 3   type      12269 non-null  object
 4   episodes  12294 non-null  object
 5   rating    12064 non-null  float64
 6   members   12294 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 672.5+ KB
None

 **************************************************
Rating:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7813737 entries, 0 to 7813736
Data columns (total 3 columns):
 #   Column    Dtype
---  ------    -----
 0   user_id   int64
 1   anime_id  int64
 2   rating    int64
dtypes: int64(3)
memory usage: 178.8 MB
None

#### Missing Values

In [9]:
print("Anime missing values (%):\n")
print(round(anime_df.isnull().sum().sort_values(ascending=False)/len(anime_df.index),4)*100) 
print("\n","*"*50,"\n\nRating missing values (%):\n")
print(round(rating_df.isnull().sum().sort_values(ascending=False)/len(rating_df.index),4)*100)

Anime missing values (%):

rating      1.87
genre       0.50
type        0.20
anime_id    0.00
name        0.00
episodes    0.00
members     0.00
dtype: float64

 **************************************************

Rating missing values (%):

user_id     0.0
anime_id    0.0
rating      0.0
dtype: float64

**Only the Anime dataset have missing values**

In [11]:
# deleting anime with 0 rating
anime_df=anime_df[~np.isnan(anime_df["rating"])]

# filling mode value for genre and type
anime_df['genre'] = anime_df['genre'].fillna(
anime_df['genre'].dropna().mode().values[0])

anime_df['type'] = anime_df['type'].fillna(
anime_df['type'].dropna().mode().values[0])

#checking if all null values are filled
anime_df.isnull().sum()

anime_id    0
name        0
genre       0
type        0
episodes    0
rating      0
members     0
dtype: int64

#### Feature Engineering
**Filling NaN values**

In the dataset, the value of *-1* means that the user did not register a rating for that anime. We will replace these values with NaN values instead.

In [12]:
rating_df['rating'] = rating_df['rating'].apply(lambda x: np.nan if x==-1 else x)
rating_df.head(20)

    user_id  anime_id  rating
0         1        20     NaN
1         1        24     NaN
2         1        79     NaN
3         1       226     NaN
4         1       241     NaN
5         1       355     NaN
6         1       356     NaN
7         1       442     NaN
8         1       487     NaN
9         1       846     NaN
10        1       936     NaN
11        1      1546     NaN
12        1      1692     NaN
13        1      1836     NaN
14        1      2001     NaN
15        1      2025     NaN
16        1      2144     NaN
17        1      2787     NaN
18        1      2993     NaN
19        1      3455     NaN

**Filtering our DataFrame in the following steps**
1. Recommend only TV types
2. Combine both Dataframes on the **anime_id** column
3. Use only **user_id, name, and rating** as the Dataframe
4. For computing purposes, use only the first 7,500 users

In [13]:
#step 1
anime_df = anime_df[anime_df['type']=='TV']

#step 2
rated_anime = rating_df.merge(anime_df, left_on = 'anime_id', right_on = 'anime_id', suffixes= ['_user', ''])

#step 3
rated_anime =rated_anime[['user_id', 'name', 'rating']]

#step 4
rated_anime_7500= rated_anime[rated_anime.user_id <= 7500]
rated_anime_7500.head()

   user_id    name  rating
0        1  Naruto    7.81
1        3  Naruto    7.81
2        5  Naruto    7.81
3        6  Naruto    7.81
4       10  Naruto    7.81

**Pivot Table for Similarity**

A pivot table where users are rows and TV show names are columns will be created to aid with the similarity calculations.

In [14]:
pivot = rated_anime_7500.pivot_table(index=['user_id'], columns=['name'], values='rating')
pivot.head()

name,.hack//Roots,.hack//Sign,.hack//Tasogare no Udewa Densetsu,009-1,07-Ghost,11eyes,12-sai.: Chicchana Mune no Tokimeki,3 Choume no Tama: Uchi no Tama Shirimasenka?,30-sai no Hoken Taiiku,91 Days,...,"Zone of the Enders: Dolores, I",Zukkoke Knight: Don De La Mancha,ef: A Tale of Melodies.,ef: A Tale of Memories.,gdgd Fairies,gdgd Fairies 2,iDOLM@STER Xenoglossia,s.CRY.ed,xxxHOLiC,xxxHOLiC Kei
user_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,6.49,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.11,NaN

**Engineering the Pivot Table**
1. Value normalization
2. Filling NaN values as 0
3. Transpose  the pivot for the next step
4. Dropping columns that contains the value of 0
5. Using scipy, convert to spart matric format for similarity computation

In [15]:
# step 1
pivot_n = pivot.apply(lambda x: (x-np.mean(x))/(np.max(x)-np.min(x)), axis=1)

# step 2
pivot_n.fillna(0, inplace=True)

# step 3
pivot_n = pivot_n.T

# step 4
pivot_n = pivot_n.loc[:, (pivot_n != 0).any(axis=0)]

# step 5
piv_sparse = sp.sparse.csr_matrix(pivot_n.values)

# Cosine Similarity Model

Cosine similarity measures the similarity between two vectors of an inner product space. It is measured by the cosine of the angle between two vectors and determines whether two vectors are pointing in roughly the same direction ([link](https://www.machinelearningplus.com/nlp/cosine-similarity/)).

In [16]:
#model based on anime similarity
anime_similarity = cosine_similarity(piv_sparse)

#Df of anime similarities
ani_sim_df = pd.DataFrame(anime_similarity, index = pivot_n.index, columns = pivot_n.index)

In [17]:
def anime_recommendation(ani_name):
    """
    This function will return the top 5 shows with the highest cosine similarity value and show match percent
    
    example:
    >>>Input: 
    
    anime_recommendation('Death Note')
    
    >>>Output: 
    
    Recommended because you watched Death Note:

                    #1: Code Geass: Hangyaku no Lelouch, 57.35% match
                    #2: Code Geass: Hangyaku no Lelouch R2, 54.81% match
                    #3: Fullmetal Alchemist, 51.07% match
                    #4: Shingeki no Kyojin, 48.68% match
                    #5: Fullmetal Alchemist: Brotherhood, 45.99% match 

               
    """
    
    number = 1
    print('Recommended because you watched {}:\n'.format(ani_name))
    for anime in ani_sim_df.sort_values(by = ani_name, ascending = False).index[1:6]:
        print(f'#{number}: {anime}, {round(ani_sim_df[anime][ani_name]*100,2)}% match')
        number +=1

In [18]:
anime_recommendation('Dragon Ball Z')

Recommended because you watched Dragon Ball Z:

#1: Dragon Ball, 79.32% match
#2: Fullmetal Alchemist, 42.81% match
#3: Death Note, 42.6% match
#4: Code Geass: Hangyaku no Lelouch, 37.64% match
#5: Yuu☆Yuu☆Hakusho, 37.39% match

# Conclusion

In this notebook, a recommendation algorithm based on cosine similarity was created.